[Unit]
Description=OpiPad input2gpio service
DefaultDependencies=no
Before=sysinit.target
Conflicts=shutdown.target

[Service]
ExecStart=/opt/opipad/input2gpio.sh
ExecStop=killall input2gpio
Type=simple
RemainAfterExit=no
Restart=always

[Install]
WantedBy=sysinit.target
